
@{
    ViewBag.Title = "test";
}
<div>
    <a href="/">back</a>
    <div id="text">insert text</div>
    <div id="image">
        insert image
        <img src="/Content/image/psb.jpg" />
    </div>
    <div id="html">
        insert html
        <div>
            <a>test link</a>
            <div style="background:blue;font-weight:bold;">
                test div
            </div>
            <input placeholder="text input" />
        </div>
    </div>
</div>
<script src="~/Scripts/test.js"></script>